.tileOverridePurple {
  background-color: purple;
  font-family: Times, "Times New Roman", Georgia, serif;

  p {
    color: gray;
  }
}

.tileOverrideRed {
    background-color: Red;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  
    p {
      color: green;
    }
  }

.tileOverridePurple * {
  font-family: inherit;
}
