.tileOverridePurple {
  background-color: purple;
  p {
    color: gray;
  }
}

.tileOverrideRed {
  background-color: Red;
  p {
    color: green;
  }
}

.tileOverridePurple * {
  font-family: inherit;
}
